<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Formula One</title>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/circuits.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>

      <!-- The video -->
      <div class="video-background">
          <div class="video-foreground">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/DufyzQvPjvI?controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist=DufyzQvPjvI" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="text-header">
          <h1>Circui<span class="red">ts</span></h1>

<!-- //////////////////////////////////////////////////////////////////////////////// -->
<div class='wrapper'>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">


    <div class="carousel-inner">
    
    <% circuits.forEach((circuit, i) => {
      if(i === 0) {%>

        <div class="carousel-item active">
            <% } else { %>
        <div class="carousel-item">
            <% } %>
     <div class="newWidth">
        <p><span class="red">Circuit name: </span> <%= circuit.name %> </p>
        <p><span class="red">Location: </span> <%= circuit.location.locality + ", " + circuit.location.country %> </p>
        <p><span class="red">Circuit Details: </span><a href="<%= circuit.url %>" target='_blank'>Circuit details</a> </p>
      </div>

     </div>
         
         <%
        }) %>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
</div>

<div class="links">
    <a href='/'><i class="fa fa-3x fa-home" aria-hidden="true" title="Home"></i></a>
</div>
<!-- //////////////////////////////////////////////////////////////////////////////// -->
</div>

</div>



          






      
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>