* { box-sizing: border-box; }

/*******VIDEO SETTIGS*******/

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
 
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }

/*******END OF VIDEO SETTIGS*******/

/*******FRONT DIV WITH HEADER AND ICONS*******/
* {
    font-family: 'Orbitron', sans-serif;
}

.text-header {

    height: 100vh;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0, 0.5);
    color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.text-header h1 {
    
    font-size: 100px;
    font-family: 'Orbitron', sans-serif;
    margin-top: 30px;
    /* margin-bottom: 20px; */
    text-shadow:5px 4px 3px rgba(0, 0, 0, 0.345),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.links {
    /* flex-wrap: wrap; */
    background: rgba(0,0,0, 0);
    height: 200px;
    width: 70%;
    display:flex;
    justify-content: center;
    transition: 1s;
    text-shadow: 5px 4px 3px rgba(0, 0, 0, 0.345),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);

}
.links i {

    transition: .5s;
}

.links i:hover {
    transform: scale(1.2);
    color: white;
    cursor: pointer;

}

.red {

    color: tomato;
}

.fa {
    color: tomato;
    text-align: center;
    margin: 0 auto;
}

.links a {
    text-align: center;
}


.carousel-item {
    padding: 40px 0;
    padding-left: 100px;
    width: 800px;
    /* border: 1px solid red; */
}

.carousel-inner .active {
    padding: 40px 0;
    width: 800px;
    padding-left: 100px;

    }

.newWidth {

    /* border: 1px solid yellow; */
    margin: 0 auto;
    height: 100%;
    width: 80%;

}

.newWidth p {
    font-size: 25px;
}

.newWidth a {
    color: rgb(1, 145, 46);
}

/*******END OF FRONT DIV WITH HEADER AND ICONS*******/

@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
  }
  @media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
  }
  @media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
  
  body, html {
  
      height: 100vh;
      width: 100%;
      padding: 0;
      margin: 0;
  }
  .wrapper {
      /* border: 1px solid yellow; */
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 70%;
      width: 100vw;
      position: relative;
      padding: 5%;
  }
  
  .text-header h1 {
      padding-top: 50px;
      font-size: 40px;
  }
  
  .carousel-item p {
  
     font-size: 15px;
      /* border: 1px solid red; */
  }
  
  .carousel-inner .active p {
      font-size: 15px;
  
      }
      
  .carousel-inner {
  
      padding-left: 10px;
      width: 100%;
      height: 290px;
      margin: 0;
  
  
      }
  
  .carousel-inner .active {
   
      padding-left: 10px;
      width: 100%;
      height: 290px;
      margin: 0;
      /* border: 1px solid red; */
    
      }
      
      .newWidth {
  
          /* border: 1px solid red; */
          height: 290px;
          width: 230px;
          margin: auto;
          padding: 10%;
      
      } 
      .carousel-control-prev, .carousel-control-next {
          height: 290px;
  
      }
    
  
      /* .fa-home {
      
          align-items: center;
  
      } */
  }
  
  
  

/*******VIDEO SETTIGS*******/

